@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-zinc-900 text-white;
    font-size: 24px;
}

#main {
    @apply h-screen;
}

.button {
    @apply font-light text-xl text-center bg-zinc-700 shadow-lg rounded-md px-2 py-1 transition-all hover:ring ring-zinc-500;
}

.material-button {
    @apply flex items-center rounded-full px-2 py-1 transition-colors hover:bg-zinc-600;
}

.input {
    @apply bg-zinc-700 transition-all focus:ring ring-zinc-500 outline-transparent;
}

.game-container {
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        ". title ."
        ". word ."
        "players chat hangman";
}

/* https://uiball.com/loaders/ */
.race-by {
    --uib-size: 100%;
    --uib-speed: 1.4s;
    --uib-color: white;
    --uib-line-weight: 10px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.race-by::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
}

.race-by::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: raceBy var(--uib-speed) ease-in-out infinite;
    transform: translateX(-100%);
    background-color: var(--uib-color);
}

@keyframes raceBy {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
