@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-zinc-900 text-white;
    font-size: 24px;
}

#main {
    @apply h-screen;
}

.button {
    @apply font-light text-xl text-center bg-zinc-700 shadow-lg rounded-md px-2 py-1 transition-all hover:ring ring-zinc-500;
}

.material-button {
    @apply flex items-center rounded-full px-2 py-1 transition-colors hover:bg-zinc-600;
}

.input {
    @apply bg-zinc-700 transition-all focus:ring ring-zinc-500 outline-transparent;
}

.game-container {
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        ". title ."
        ". word ."
        "players chat hangman";
}
